<div class="w-fit flex items-center gap-3 relative">

  <!-- Hour dropdown -->
  <div class="relative">
    <button
      type="button"
      (click)="toggleDropdown('hora')"
      class="p-0 border-none rounded-md w-[54px] focus:outline-none flex justify-between items-center flex-nowrap md:min-h-8">
      <span class="text-text-input-02 text-center font-bold text-2xl">
        {{ selectedHora }}
      </span>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 11" class="fill-none w-[10px] h-[9px] transition-transform">
        <path d="M6.5 10.5L0.870833 0.750001L12.1292 0.75L6.5 10.5Z" class="fill-primary" fill-rule="evenodd" clip-rule="evenodd"/>
      </svg>

    </button>

    <div
      *ngIf="isDropdownOpen === 'hora'"
      class="absolute z-50 w-[54px] rounded-[5px] border border-gray-100 bg-white shadow-lg p-0 mt-1"
    >
      <ul class="max-h-[120px] overflow-y-auto">
        <li
          *ngFor="let h of horas"
          (click)="selectHora(h)"
          class="text-center px-4 py-2 cursor-pointer hover:bg-gray-200 text-[14px] font-medium leading-none"
        >
          {{ h }}
        </li>
      </ul>
    </div>

    <span class="text-text-label-01 font-medium text-xs">{{ "time_select_minute_label" | translate }}</span>
    
  </div>

  
  <span class="text-text-input-02 font-bold text-2xl flex items-start min-h-[60px]">
    <span class="min-h-9">:</span>
  </span>

  <!-- Minute dropdown -->
  <div class="relative">
    <button
      type="button"
      (click)="toggleDropdown('minuto')"
      class="p-0 border-none rounded-md w-[54px] focus:outline-none flex justify-between items-center flex-nowrap md:min-h-8">
      <span class="text-text-input-02 text-center font-bold text-2xl">
        {{ selectedMinuto }}
      </span>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 11" class="fill-none w-[10px] h-[9px] transition-transform">
        <path d="M6.5 10.5L0.870833 0.750001L12.1292 0.75L6.5 10.5Z" class="fill-primary" fill-rule="evenodd" clip-rule="evenodd"/>
      </svg>

    </button>

    <div
      *ngIf="isDropdownOpen === 'minuto'"
      class="absolute z-50 w-[54px] rounded-[5px] border border-gray-100 bg-white shadow-lg p-0 mt-1"
    >
      <ul class="max-h-[120px] overflow-y-auto">
        <li
          *ngFor="let m of minutos"
          (click)="selectMinuto(m)"
          class="text-center px-4 py-2 cursor-pointer hover:bg-gray-200 text-[14px] font-medium leading-none"
        >
          {{ m }}
        </li>
      </ul>
    </div>

    <span class="text-text-label-01 font-medium text-xs">{{ "time_select_hour_label" | translate }}</span>
    
  </div>

  <!--AM/PM Button-->
  <div 
    class="flex flex-row flex-nowrap md:flex-col overflow-hidden"
    [class]="customContainerClasses"
  >
    <button
      type="button"
      class="h-[42px] md:h-[26px] px-3 py-0 text-base font-medium hover:bg-color-time-button md:rounded-tl-[5px] rounded-l-[5px] md:rounded-l-none md:rounded-tr-[5px] border border-gray-borders text-text-time-button"
      [class.bg-color-time-button]="periodo === 'AM'"
      [class.border-primary]="periodo === 'AM'"
      [class]="customButtonAmClasses"
      (click)="seleccionarPeriodo('AM')"
    >
      AM
    </button>
    <button
      type="button"
      class="h-[42px] md:h-[26px] px-3 py-0 text-base font-medium hover:bg-color-time-button md:rounded-bl-[5px] rounded-r-[5px] md:rounded-r-none md:rounded-br-[5px] border border-gray-borders text-text-time-button"
      [class.bg-color-time-button]="periodo === 'PM'"
      [class.border-primary]="periodo === 'PM'"
      [class]="customButtonPmClasses"
      (click)="seleccionarPeriodo('PM')"
    >
      PM
    </button>
  </div>
</div>
